<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Movie List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/cbebc4ac70.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <main>

      <div class="background"></div>

      <button class="icon-btn" @click="openLibrary()">
        <i class="fas fa-bookmark"></i>
      </button>

      <h1>The Movie List</h1>

      <div class="search">
        <input type="text" placeholder="Search for a movie">
        <p>{{noResults}}</p>
        <div class="results">

          <div v-for="(result, index) in searchResults" class="movie" @click="openMovie($event)">
            <div class="movie-inner">
              
              <div class="front">
                <img :src="result.Poster">
                <h3>{{result.Title}}</h3>
              </div>
            
              <div class="back">
                <h3>{{result.Title}} ({{result.Year}}) <span v-if="result.specificData?.Metascore !== 'N/A'" class="green">{{result.specificData?.Metascore}}%</span></h3>
                <span class="grey">{{result.specificData?.Genre}}<br>{{result.specificData?.Runtime}}</span>
                <hr>
                <p>{{result.specificData?.Plot}}</p>

                <button :class="`action ${Object.keys(library).includes(result.imdbID) ? 'remove' : ''}`" @click="editLibrary(result)"><span>+</span></button>
              </div>

            </div>
          </div>

          
        </div>

      </div>

      <div class="library">

        <button class="icon-btn" @click="closeLibrary()">
          <i class="fas fa-times"></i>
        </button>
        
        <h1>Your Library</h1>
        <p v-if="Object.keys(library).length === 0">Your library is empty</p>
        <div class="library-container">
          <div v-for="(movie, index) in library" class="movie" @click="openMovie($event)">
            <div class="movie-inner">
              
              <div class="front">
                <img :src="movie.Poster">
                <h3>{{movie.Title}}</h3>
              </div>
            
              <div class="back">
                <h3>{{movie.Title}} ({{movie.Year}}) <span v-if="movie.Metascore !== 'N/A'" class="green">{{movie.Metascore}}%</span></h3>
                <span class="grey">{{movie.Genre}}<br>{{movie.Runtime}}</span>
                <hr>
                <p>{{movie.Plot}}</p>

                <button :class="`action ${Object.keys(library).includes(movie.imdbID) ? 'remove' : ''}`" @click="editLibrary(movie, true)"><span>+</span></button>
              </div>

            </div>
          </div>
        </div>
      </div>
      
    </main>

    <script src="app.js"></script>
  </body>
</html>