html, body {
  height: 100%;
  background-color: rgb(1, 1, 29);
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  user-select: none;
  margin: 0;
}

button, input {
  border: none;
  background-color: #262b35;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  border-radius: 100px;
  font-size: 25px;
}

input {
  padding: 10px 20px;
  max-width: calc(100% - 20px);
}

button:focus, input:focus {
  outline: none;
}

main {
  text-align: center;
  width: 80vw;
  height: calc(100vh - 40px);
  margin: 20px auto;
  padding: 20px;
  background: #2f3541;
  border-radius: 30px;
  overflow-y: scroll;
  position: relative;
}

main.no-scroll {
  overflow-y: hidden;
}

.results, .library-container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 50px;
  height: fit-content;
}

.movie {
  margin: 10px;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  perspective: 1000px;
}

.movie:not(.selected-movie):hover {
  transform: scale(1.1);
}

.movie.movie:not(.selected-movie):hover > .movie-inner {
  box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.4),
              -10px -10px 32px 0px rgba(0,0,0,0.4);
}

.movie img {
  border-radius: 10px;
  -webkit-user-drag: none;
  user-select: none;
  margin: 10px;
  width: 200px;
}

.movie > .movie-inner {
  background-color: #262b35;
  padding: 10px;
  border-radius: 10px;
  left: 0; top: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.selected-movie > .movie-inner {
  transform: rotateY(-180deg);
}

.movie .front, .movie .back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.movie .back {
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  width: 100%;
  background: #262b35;
  padding: 10px;
  border-radius: 10px;
}

.movie .back hr {
  margin: 7px 0;
}

.movie .back p {
  text-align: justify;
}

.movie .back .action {
  width: 90%;
  border-radius: 50px;
  font-size: 32px;
  background: #28a745;
  margin: 5px 0;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 9px;
  transition: transform 0.3s ease;
}

.movie .back .action.remove {
  background: #dc3545;
}

.movie .back .action span {
  display: inline-block;
  transition: transform 0.1s ease;
}

.movie .back .action.remove span {
  transform: rotateZ(-45deg);
}

.movie .back .action:hover {
  transform: translateX(-50%) scale(1.1);
}

.movie .back .action:active {
  transition: transform 0.08s ease;
  transform: translateX(-50%);
}

.selected-movie {
  z-index: 3;
  padding: 0;
}

.grey {
  color: grey;
}

.green {
  color: #28a745;
}

.background {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.background-active {
  opacity: 1;
  pointer-events: all;
}

.icon-btn {
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.library {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  transition: left 0.3s ease;
  background: #262b35;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
}

.library > p, .search > p {
  margin-top: 20px;
}

.library-container {
  margin-top: 40px;
}

.library .icon-btn {
  background: #2f3541;
}

.library .movie > .movie-inner {
  background: #2f3541;
}

.library .movie .back {
  background: #2f3541;
}

.library.opened {
  left: 0;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 800px) {
  .icon-btn {
    position: static;
    width: calc(100% - 20px);
  }
}